body {
    font-family:Arial;
    background-color: rgb(32, 38, 49) ;
}
:root {
    --blue: rgb(61, 95, 139);
    --darkblue: rgb(53, 70, 92);
    --brightblue: rgb(84, 150, 237);
}
h1 {
    text-align: center;
    font-weight: 200;
    background-color: var(--blue); color: white;
    padding: 15px 0;
    width: 100%;
    margin: 0;
}.search-title, .result-title {font-size: 20px;}
p {margin: 0; color: white;}
a {
    color: var(--brightblue); 
    transition: text-decoration-color .25s;
}
.container {
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0; right:0; bottom:0; top: 0;
} .box-container {
    display: flex; justify-content: center;
    align-items: center; flex-direction: column;
    gap: 15px;
    border: 5px solid var(--darkblue); padding:5px;
}
#github-profile-form {
    display: flex; flex-direction: column;
    width: 100%;
}
#result-box {
    display: flex; flex-direction: column;
    width: 100%;
}
#result {
    background-color: var(--darkblue);
    height: 100%;
    display: flex; flex-direction: column;

}
#user-avatar {
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
#user-name {
    color: white;
}
#user-profile-link {
    font-size: 15px;
}
a:hover {text-decoration: underline var(--brightblue);}

#user-bio {
    width: 300px;
    line-height: 1.5;
}
.search-title {
  padding: 30px 0;
} .result-title {text-align: left; padding: 15px; width: auto;}
.userinfo {
    display: flex; flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.userdetails {
    display: flex; flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.search-box {
    padding: 15px;
    font-size: 20px;
    background-color: var(--darkblue); color: white;
    border: none;
    text-align: center;
    outline: none;
}
.search-box::placeholder{text-align: left;}
.search-button {
    padding: 15px;
    font-size: 20px;
    background-color: rgb(64, 120, 192);
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
    text-align: left;
}
.search-button:hover {
    background-color: var(--brightblue);
}

.copyright {
    position:absolute;
    bottom: 0;
    color: white;
    font-size: 1vh;
    margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    h1, .search-box,
    .search-button {
        font-size: 15px;
    }

    .copyright {font-size: 10px; padding: 0 50px;};
    .box-container {
        width: 70%;
    }
    .userdetails {
        display: flex; flex-direction: column;
        gap: 10px;
        padding: 15px;
        font-size:10px;
    }
    #user-bio {width:auto;}
}